{% extends 'base.html'%}


{% block code %}
  <div class="container">
    <div class="row">
      {% for i in product %}
      <div class="card" style="width: 18rem;">
        <img src="{{i.image}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{i.name}}</h5>
          <p class="card-text">{{i.description}}</p>
          <a href="{% url 'place_order' i.id %}" class="btn btn-primary">Place Order</a>
        </div>
      </div>
      {%endfor%}
    </div>
  </div>
{% endblock %}
