{% extends 'base.html'%}
{% block code %}
<div class="container">
  <div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h1>Log In</h1>
        </div>
        <div class="card-body">
          {% if not user.is_authenticated %}
            <form class="" action="" method="post">
              {%csrf_token%}
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Username" name="username" required>
              </div>
              <div class="form-group">
                  <input type="password" name="password" placeholder="Password" class="form-control" required>
              </div>
              <button type="submit" class="btn btn-primary btn-block" name="button">Login</button>

            </form>
            <p> Don't have an account. <a>Sign Up </a></p>
          {% else%}
            <h1> You already logged in. </h1>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-md-3">

    </div>
  </div>
</div>


{% endblock %}
