{% extends 'base.html'%}

{% block code%}
{% if user.is_authenticated %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <or>
        {% for i in orders  %}
          <li> Customer ID: {{i.cust.id}} // Cust Name: {{i.cust.username}} //
               Orders: {{i.prod.name}} //
          </li>
        {% endfor %}
        </or>
      </div>
    </div>
  </div>
{% else %}
  <div class="container">
    <h1>Log In to continue</h1>
  </div>
{% endif %}
{% endblock%}
