{% extends 'base.html' %}

{% block code %}
  <div class="container">
    <div class="row">
      <div class="col-md-3">

      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h1>Sign Up</h1>
          </div>
          <div class="card-body">
            <form class="" action="" method="post">
              {%csrf_token%}
              <div class="form-group">
                  <input type="text" class="form-control" name="username" placeholder="Username" required>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="Email" required>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" name="password1" placeholder="Password" required>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" name="password2" placeholder="Confirm Password" required>
              </div>

              <button type="submit" class="btn btn-primary btn-block" name="button">Signup</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-3">

      </div>
    </div>
  </div>


  {% endblock %}
